[submodule "web/media/vendor/Font-Awesome"]
	path = web/media/vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "web/media/vendor/semantic-ui-sass"]
	path = web/media/vendor/semantic-ui-sass
	url = https://github.com/doabit/semantic-ui-sass.git
